.container {
    max-width: 800px;
    border: 1px solid rgb(117, 116, 116);
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}

.card {
    background: rgb(93, 31, 150);
    height: 150px;
    text-align: center;
    line-height: 80px;
    color: #fff;
}

.botao {
    background: rgb(88, 32, 219);
    color: #fff;
    padding: 20px;
    margin: 20px;
    border: 0;
    cursor: pointer;
}

.voltarDiv {
    background: rgb(116, 17, 91);
}